<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:9999/BlockingService/Sync"
                binding="netTcpBinding"
                contract="Blocker.Client.IBlockingService"
                name="sync" />
      <endpoint address="net.tcp://localhost:9999/BlockingService/Async"
                binding="netTcpBinding"
                contract="Blocker.Client.IBlockingService"
                name="async" />
    </client>
  </system.serviceModel>
</configuration>