<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Blocker.Service.BlockingService"
               behaviorConfiguration="md">
        <endpoint address="Sync"
                  binding="netTcpBinding"
                  contract="Blocker.Service.IBlockingService" />
      </service>
      <service name="Blocker.Service.BlockingServiceAsync"
               behaviorConfiguration="md">
        <endpoint address="Async"
                  binding="netTcpBinding"
                  contract="Blocker.Service.IBlockingServiceAsync" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="md">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>